Package: metasfresh
Architecture: all
Maintainer: jb
Depends: bash, postgresql-common, postgresql-contrib, openjdk-8-jdk-headless, apache2, elasticsearch
Priority: optional
Version: 5.6
Description: Metasfresh
 A free opensource ERP Software
